table {
    text-align: center;
}
thead {
    text-transform: uppercase;
}
thead th {
    padding: 10px 25px;
}
.period-of-time td {
    text-align: left;
    font-style: italic;
}
.period-of-time td:first-child {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
tbody tr:first-child td:not(:first-child) {
    padding: 5px 0;
}
tbody tr:not(:first-child) td {
    padding: 5px 5px;
}
tbody tr:nth-child(2) td {
    padding: 10px 35px;
}
.time td:first-child {
    padding: 90px 0;
}